.caja {
	display: none;
	height: 0;
	width: 100%;
	overflow: hidden;
	transition: height 15s ease-out;
}

.caja.expandir {
	display: block;
	height: 100px; /* Ajusta esto según sea necesario */
	background-color: rgb(255, 255, 255);
	color: rgba(160, 39, 39, 0.445);
}
